body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.parallax-container .parallax img {
  filter: brightness(0.2);
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, 0.9);
}
.parallax-container .section {
  width: 100%;
}

.profile {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
}

.repositories-slider, .pull-requests-slider {
  display: flex;
  padding: 38px 18px 0 18px;
  gap: 8px;
  overflow-x: auto;
}

.pull-requests-slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 18px;
  row-gap: 18px;
  overflow-y: auto;
  max-height: 500px;
}

.pull-request-card {
  cursor: pointer;
  width: 100%;
  padding: 0 18px;
  padding-bottom: 18px;
  border-radius: 4px;
  border: 1px solid rgb(165, 165, 165);
}

.pull-request-card:hover {
  background-color: rgb(245, 245, 245);
}

.pull-request-card-title {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media only screen and (max-width: 992px) {
  .profile h1 {
    font-size: 3rem;
  }

  .profile-pic {
    width: 100px;
    height: 100px;
  }

  .parallax-container .section {
    position: absolute;
    top: 40%;
  }

  .repositories-slider::-webkit-scrollbar {
    width: 0;
  }

  .pull-requests-slider {
    display: flex;
    flex-direction: column;
  }

  .my-description {
    top: 0 !important;
  }

  #index-banner .section {
    top: 10%;
  }

  .hide-on-med-and-down {
    display: flex !important;
    overflow-x: auto;
  }

  .hide-on-med-and-down::-webkit-scrollbar {
    width: 0;
  }
}

@media only screen and (max-width: 600px) {
  #index-banner .section {
    top: 0;
  }
}
