body {
  font-size: 62.5%;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

main {
  display: grid;
  grid-template-rows: 1fr auto;
}

@media (max-width: 600px) {
  body {
    font-size: 62.5%;
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
  }
}


a {
  text-decoration: none;
  color: inherit;
}

.presentation {
  color: white;
  padding: 0 3.8rem;
  background-image: url("/assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 5.2rem;
  font-weight: bold;
}

.description {
  font-size: 2.4rem;
  font-weight: normal;
}

.infos {
  margin-top: auto;
  font-size: 1.8rem;
  font-weight: bold;
  padding-bottom: 3.8rem;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

@media (max-width: 600px) {
  .presentation {
    color: white;
    padding: 0 2.5rem;
    background-image: url("/assets/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 2.6rem !important;
    font-weight: bold;
  }

  .description {
    font-size: 1.3rem;
    font-weight: normal;
    line-height: 2.4rem;
    width: 22rem;
  }

  .infos {
    margin-top: auto;
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 3.8rem;
  }

  .info-item {
    display: flex;
    align-items: center;
    gap: 1.8rem;
  }

  .info-item img {
    width: 1.8rem;
  }
}

.github-cards {
  display: flex;
  align-items: flex-start;
  gap: 1.8rem;
}

.github-languages {
  width: 28rem;
  height: max-content;
}

@media (max-width: 600px) {
  .github-cards {
    display: flex;
    align-items: flex-start;
    gap: 1.8rem;
    overflow-x: scroll;
  }
  
  .github-languages {
    width: 28rem;
    height: max-content;
  }
}

.profile-section {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    linear-gradient(360deg, #d9d9d9 25.89%, rgba(217, 217, 217, 0) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 3.8rem;
  font-weight: 500;
  margin-bottom: 7.4rem;
  padding: 0 12rem;
}

.profile-image {
  width: 24rem;
  height: 24rem;
}

.social-networks {
  display: flex;
  gap: 2.8rem;
  margin-top: 1.8rem;
}

.social-network {
  cursor: pointer;
  background-color: white;
  padding: 0.8rem;
  border-radius: 1.8rem;
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}

.social-network:hover {
  transition: 0.3s;
  background-color: rgb(218, 218, 218);
}

.footer {
  margin-top: auto;
  font-weight: 400;
  font-size: 1.4rem;
  text-align: center;
  padding: 0 8rem;
}

@media (max-width: 600px) {
  .profile-section {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      linear-gradient(360deg, #d9d9d9 25.89%, rgba(217, 217, 217, 0) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .subtitle {
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 7.4rem;
    padding: 0 4rem;
  }
  
  .profile-image {
    width: 16rem;
    height: 16rem;
  }
  
  .social-networks {
    display: flex;
    gap: 2.8rem;
    margin-top: 1.8rem;
  }

  .social-networks img {
    width: 4rem;
  }
  
  .social-network {
    cursor: pointer;
    background-color: white;
    padding: 0.8rem;
    border-radius: 1.8rem;
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
  }

  
  .social-network:hover {
    transition: 0.3s;
    background-color: rgb(218, 218, 218);
  }
  
  .footer {
    margin-top: auto;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    padding: 0 2rem;
  }
}
