<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gabriel Quaresma</title>
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3"></script>
  </head>
  <body id="app">
    <nav>
      <div class="nav-wrapper indigo darken-3">
        <ul id="nav-mobile" class="hide-on-med-and-down">
          <li><a href="#">#Java</a></li>
          <li><a href="#">#Spring</a></li>
          <li><a href="#">#JavaScript</a></li>
          <li><a href="#">#React.js</a></li>
          <li><a href="#">#Vue.js</a></li>
          <li><a href="#">#Node.js</a></li>
          <li><a href="#">#Android</a></li>
          <li><a href="#">#Dart</a></li>
          <li><a href="#">#Flutter</a></li>
        </ul>
      </div>
    </nav>
    <main>
      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <div class="profile">
              <img
                class="profile-pic"
                src="https://avatars.githubusercontent.com/u/23138717?v=4"
              />
              <h1 class="header center white-text text-lighten-2">Gabriel Quaresma</h1>
            </div>
            <div class="row center">
              <h5 class="header white-text col s12 light">Front-end (web and mobile) developer</h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="assets/frontend_webdeveloper.jpg" alt="Unsplashed background img 1"></div>
      </div>
      <div class="section">
        <div v-if="repositories" class="repositories-slider">
          <div v-for="repository in repositories">
            <a :href=`https://github.com/joaoGabriel55/${repository.name}` target="_blank">
              <img
              :src=`https://gh-card.dev/repos/joaoGabriel55/${repository.name}.svg?fullname=`
              />
            </a>
          </div>
        </div>
        <div v-else>
          <div class="progress">
            <div class="indeterminate indigo darken-4"></div>
          </div>
        </div>
      </div>
      <div class="parallax-container valign-wrapper">
        <div class="section">
          <div class="container">
            <div class="row center">
              <h5 class="header col s12 light">
                <p>
                  I am web front-end and mobile software developer. But sometimes I like to developing back-end solutions.
                </p>
                <p>
                  Enthusiast in the design area (UI and UX) and manual drawings.
                  Nowadays I'm working with React.js and love to create my own UIs using Figma tool.
                </p>
              </h5>
            </div>
          </div>
        </div>
        <div class="parallax"><img src="assets/frontend_webdeveloper_II.png" alt="Unsplashed background img 1"></div>
      </div>
    </main>
    <footer class="page-footer indigo darken-4">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Gabriel Quaresma</h5>
            <p class="grey-text text-lighten-4">Always in evolution</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Social media</h5>
            <ul>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="https://github.com/joaoGabriel55"
                  target="_blank"
                  >Github</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="https://www.linkedin.com/in/gabriel-quaresma-92b843137"
                  target="_blank"
                  >LinkedIn</a
                >
              </li>
              <li>
                <a
                  class="grey-text text-lighten-3"
                  href="https://www.instagram.com/quaresmadraw"
                  target="_blank"
                  >Instagram</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © {{ currentYear }} made with ❤️ by Gabriel Quaresma -
          Front-end (web and mobile) developer
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script setup>
      const { createApp } = Vue;

      createApp({
        data() {
          return {
            currentYear: new Date().getFullYear(),
            repositories: null,
          };
        },
        mounted() {
          fetch("https://api.github.com/users/joaoGabriel55/repos")
            .then((response) => response.json())
            .then((data) => {
              this.repositories = data.filter(
                (repo) => repo.name !== "joaoGabriel55.github.io"
              );
            });
        },
      }).mount("#app");
    </script>
  </body>
</html>
